@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 700 14px/1 'Red Hat Text', sans-serif;
  background: url("../images/bgimage.png") no-repeat 0 bottom;
  background-color: #2e364a;
  height: 100vh;
  margin: 0;
}


main {
  height: 100vh;
  background: url(../images/bgimage.png) no-repeat 0 bottom;
  background-size: 100% 100%;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 15vh;
  position: relative;
}


.glow {
  color: #fff;
  text-shadow: 0 0 10px #fff;
  animation: glowing 2s ease-in-out infinite;
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 10px #fff;
  }
  50% {
    text-shadow: 0 0 20px #fff;
  }
  100% {
    text-shadow: 0 0 10px #fff;
  }
}


h1 {
  font-family: sans-serif;
  font-size: 50px;
  margin: 60px 0 50px;
  letter-spacing: 8px;
  color: #fff;
  text-transform: uppercase;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.title {
  color: #8486a9;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.countdown-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.countdown-block:last-child {
  margin-right: 0;
}

.time-elem {
  position: relative;
  color: #da5a36;
  position: relative;
  height: 140px;
  width: 150px;
  background-color: #33354d;
  border-radius: 8px;
  text-align: center;
  font-size: 5.5em;
  overflow: hidden;
  margin-bottom: 27px;
  line-height: 138px;
  -webkit-box-shadow: 0px 8px 0px 0px #16151d;
          box-shadow: 0px 8px 0px 0px #16151d;
}

.time-elem::before, .time-elem::after {
  content: '';
  position: absolute;
  z-index: 6;
  top: calc(50% - 5px);
  background: #24242e;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.time-elem::before {
  left: -5px;
}

.time-elem::after {
  right: -5px;
}

.time-elem > span {
  position: absolute;
  left: 0;
  right: 0;
}

.top {
  z-index: 3;
  background-color: #2a2a41;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: perspective(200px);
          transform: perspective(200px);
}

.time-elem .top::after, .time-elem .bottom-back::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #24242e;
}

.bottom {
  z-index: 1;
}

.bottom::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #33354d;
}

.bottom-back {
  z-index: 2;
  top: 0;
  height: 50%;
  overflow: hidden;
  background-color: #33354d;
}

.bottom-back span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.top, .top-back {
  height: 50%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.top-back {
  z-index: 4;
  bottom: 0;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  background-color: #33354d;
  -webkit-transform: perspective(200px) rotateX(180deg);
          transform: perspective(200px) rotateX(180deg);
}

.top-back span {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: auto;
}

.social {
  position: absolute;
  bottom: 56px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  padding: 0;
}

.social li {
  margin-right: 32px;
}

.social li a path {
  -webkit-transition: fill .3s ease;
  transition: fill .3s ease;
}

.social li:last-child {
  margin-right: 0;
}

.social a:hover path {
  fill: #fb6087;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 22rem auto;
}

.container {
  padding: 1rem 2rem;
  position: relative;
  width: 80%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container:nth-child(1) {
  animation-delay: 0s;
}

.container:nth-child(2) {
  animation-delay: 1s;
}

.container:nth-child(3) {
  animation-delay: 2s;
}

.text-box {
  padding: 1rem 2rem;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.left-container {
  left: -30%;
}

.right-container {
  left: 50%;
}

.container img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 2.4rem;
  z-index: 10;
}

.right-container img {
  left: -20px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

.text-box h2 {
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fff;
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  left: -15px;
}



@media only screen and (max-width: 768px) {
  body {
    font-size: 8px;
  }
  main {
    padding-top: 18vh;
  }
  h1 {
    font-size: 2.2em;
    margin: 24px 0 56px;
    letter-spacing: 6px;
    padding: 0 20px;
    line-height: 22px;
    text-align: center;
  }
  .countdown-block {
    margin-right: 16px;
  }
  .countdown-block:last-child {
    margin-right: 0;
  }
  .title {
    font-size: 0.9em;
    letter-spacing: 3px;
  }
  .time-elem {
    height: 66px;
    width: 70px;
    font-size: 4.5em;
    line-height: 66px;
    margin-bottom: 17px;
  }
  .social {
    bottom: 39px;
  }

  .timeline {
    margin: 450px auto;
  }

  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .text-box {
    font-size: 13px;
  }

  .text-box small {
    margin-bottom: 10px;
  }

  .right-container {
    left: 0;
  }

  .left-container img, .right-container img {
    left: 10px;
  }

  .left-container-arrow, .right-container-arrow {
    border-right: 15px solid #fff;
    border-left: 0;
    left: -15px;
  }
}
/*# sourceMappingURL=main.css.map */